import React, { useState, useEffect } from 'react';

import { Container } from './styles';

export default function <%= props.name %>Page() {
  
  useEffect(() => {

  }, [])

  return (
    <Container>
      <p>Hello Page!</p>
    </Container>
  )
}